fastapi
torch
uvicorn
accelerate
groq
python-dotenv
python-multipart
numpy      
requests
langchain    
sentence-transformers
transformers             
pypdf
langchain_core
langchain_groq
langchain_community
langchain_text_splitters
langchain_huggingface
tavily-python
supabase
pgvector
langgraph-checkpoint-postgres
psycopg[binary,pool]
typing_extensions
langchain-tavily